.form {
	width: 100%;
	padding: 3em;
	background-color: rgba(46, 0, 57, 1);
	color: #fff;
	border-radius: 1.3125rem;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.3em;
}

.form__row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
@media screen and (max-width: 650px) {
	.form__row {
		gap: 1.5em;

		flex-direction: column;
	}
}
.form__item {
	display: flex;
	align-items: end;
	gap: 1em;
}

.form__option {
	color: #222;
}
.form__convert {
	width: 3em;
}
