.form {
	width: 100%;
	padding: 3em;
	background-color: rgba(46, 0, 57, 1);
	color: #fff;
	border-radius: 1.3125rem;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.3em;
}
.form__row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
.form__item {
	display: flex;
	justify-content: center;
	align-items: end;
	gap: 0.5em;
}

.form__option {
	color: #222;
}
.form__convert {
	display: flex;
	width: 3em;
}
